.hero-about {
  // background-image: url('../../images/hero.jpg');
  // background-image: url('../../../images/hero-2.svg');
  // background-image: url('../../../images/hero-3.svg');
  background-image: url('../../../images/teaching.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.hero-jobs-gradient {
  background-image: linear-gradient(
    to right top,
    #19b5fe,
    #3baaff,
    #679cff,
    #938bff,
    #bb74f7
  );
}
